* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.clearTrackedTimesBtn {
    font-size: 13px;
    cursor: pointer;
}

.clearTrackedTimesBtn:hover {
    text-decoration: underline;
}

.popup {
    padding: 15px;
    box-sizing: border-box;
    font-family: sans-serif;
    width: 400px;
}