.tracked-list {
    padding: 4px 0;
    font-size: 14px;
}

.tracked-entry {
}

.tracked-entry:not(:last-child) {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 7px;
}

.tracked-title {
}

.tracked-meta {
    font-size: 13px;
    color: #555;
    margin-top: 5px;
}

.tracked-meta a {
    color: #0969da;
    text-decoration: none;
}

.tracked-meta a:hover {
    text-decoration: underline;
}

.startTrackingBtn {
    color: #007bff;
    cursor: pointer;
}

.startTrackingBtn:hover {
    text-decoration: underline;
}